input:focus, textarea:focus, select:focus{
    outline: none;
}

.formBusca{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 50%;
    margin-bottom: 0px;
}

.campoBusca {
    height: 100%;
    width: 100%;
    border-style:none;
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
    padding-left: 20px;
}

.botaoBuscar {
    height: 100%;
    width: 100px;
    border-style:none;
    border-radius: 0px 5px 5px 0px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    transition: all ease 0.2s;
    cursor: pointer;
}

.botaoBuscar:hover{
    background: rgba(255, 255, 255, 0.3);
}