@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #202123;
  color: white;
  margin: 0px;
  padding: 0px;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.conteudo {
  margin-bottom: 0px;
  margin-top: 0px;
}

.gradiente-vertical-topo{
  padding-top: 100px;
  background: linear-gradient(to top, #202123 0%, transparent 250%);
}

.background-topo{
  background-image: url('./images/background-blur.jpg');
  background-size: cover;
  background-position-y: -100px;
}